.*.un~
setup/Gemfile.lock
emacs.d/elpa/
emacs.d/ido.last

.DS_Store
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.rbenv-gemsets
.vscode
.idea
*.iml
.directory
.ruby-version
.ruby-gemset
.mise.toml
.venv
.envrc
.zed
