# -*- mode: Conf;-*-
# sway window rules

# use xprop to match windows
for_window [class="^(Gcolor2|Gnome-keyring-prompt-3|Gcr-prompter|MPlayer|mpv|Sxiv)$"] floating enable
for_window [class="^(Pinentry-gtk-2)$"] floating enable
for_window [class="^(MPlayer|mpv)$"] border normal
for_window [class="^Firefox$" title="^Library$"] floating enable
for_window [class="^Firefox$" title="^Library$"] border normal

# WS2: browsers
assign [window_role="^browser$"] $ws2

# WS3: emacs
assign [class="^([Ee]macs)$"] $ws3
# assign [class="^jetbrains-idea$"] $ws3

# WS4: messengers
assign [class="^(Gajim|[Tt]elegram([Dd]esktop)?|HipChat|[Cc]utegram)$"] $ws4
assign [class="^(Riot)$"] $ws4
assign [title="^Signal$"] $ws4

# WS5: intellij
assign [class="^(jetbrains-idea)$"] $ws5

# WS7: music stuff
for_window [class="Spotify"] move to workspace $ws7