#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[en_IE]=
Comment=
Exec=/home/qmeijer/bin/browser %U
GenericName[en_IE]=Web Browser
GenericName=Web Browser
Icon=internet-web-browser
MimeType=text/html;application/xml;application/xml;application/xhtml+xml;
Name[en_IE]=Browser Chooser
Name=Browser Chooser
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
